@import "../../assets/styles/varibles.scss";

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.button {
    background: $ColorWhite;
    border: 3px solid $ColorWhite;
    padding: 20px 40px;
    border-radius: 24px;
}
